/* Шрифты отдельно: */
@import url("./stylesheet.css");
* {
  margin: 0%;
  box-sizing: border-box;
  font-family: "Unbounded";
  color: #0e3b6b;
}
/* Шапка*/
header {
  width: 100%;
  position: relative;
  z-index: 1;
}
.menu {
  position: fixed;
  font-weight: 200;
  font-size: 3, 5rem;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.menu li {
  list-style-type: none;
}
.menu a {
  text-decoration: none;
  color: #0e3b6b;
}
.menu a:hover {
  font-weight: 500;
  font-size: 110%;
  transition: 0.3s;
}
/* Главный контент */
@media (max-width: 770px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .overlay,
  .fullscreen-bg,
  .content-block-h1-button {
    visibility: hidden;
    display: none;
  }
  .content-block-h1-button-770 {
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(252, 171, 51, 0.6)
      ),
      url(../images/photo_2024-02-12_14-11-39.jpg);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .container-about-me {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    text-align: center;
  }
  .experience {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    text-align: center;
  }
}
@media (min-width: 770px) {
  .content-block-h1-button-770 {
    visibility: hidden;
    display: none;
  }
  .container-about-me {
    width: 80%;
    margin: 10% auto;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
  }
}
.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50%;
}
.fullscreen-bg video {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.overlay {
  background: rgba(122, 135, 148, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content-block-h1-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.content-block-h1-button h1 {
  font-size: 3rem;
  color: rgb(14, 59, 107);
}
.content-block-h1-button p {
  font-size: 1.5rem;
  font-weight: 200;
  color: #0e3b6b;
}
.start-button {
  border: 0;
  line-height: 2.5;
  padding: 0 50px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #0e3b6b;
}
.start-button a {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}
.start-button:hover {
  background-color: rgb(252, 171, 51);
}

.h2-about-me {
  width: 100%;
  margin: 2.5% auto;
  text-align: center;
  font-size: 2rem;
}
#pec {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.round {
  border-radius: 5%;
  height: auto;
  width: 30%;
  margin-bottom: 5%;
}
.experience {
  width: 80%;
  margin: 2.5% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
.refs {
  width: 100%;
  margin: 2.5%;
  font-weight: 300;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
.refs a {
  text-decoration: none;
  color: #838383;
}
.refs strong {
  margin-top: 20px;
}
.refs p {
  text-decoration: none;
  color: #000000;
  margin-top: 10px;
}
.ref-pic {
  border-radius: 10px;
  height: auto;
  width: 100%;
  box-shadow: 2px 5px 10px 1px grey;
}
/* Подвал */
footer {
  background-color: #fcab33;
  height: 30vh;
}
.my-footer {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links a {
  list-style-type: none;
  text-decoration: none;
}
.links a:hover {
  color: #838383;
}
